/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/
*{
    font-size: 35px;
}

#testoAlternato {
    border-radius: 10px 5px;
    margin: auto;
    margin-top: 80px;
    text-align: center;
    border: 1px solid;
    padding: 50px;
    padding-right: 190px;
    width: max-content;
    color: antiquewhite;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 50px -45px 5px -23px rgba(0,0,0,0); 
box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 50px -45px 5px -23px rgba(0,0,0,0);
    background: linear-gradient(135deg, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
  }

.parole {
    position: relative;
}

.item {
    position: absolute;
    width: max-content;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;}

.uno{
    opacity: 1;
    animation: switch 5s linear 0s infinite;
    color: darkblue;
}

.due {
    opacity: 0;
    animation: switch 5s linear 1.7s infinite;
    color: darkred;
}

.tre{
    
    opacity: 0;
    animation: switch 5s linear 3.4s infinite;
    color: indigo;
}

@keyframes switch {
    0%{
        opacity: 0;
        transform: translateY(-2em);
        content: "interfacce web";
    }
    
    10%{
        opacity: 1;
        transform: translateY(0);
    }

    25%{
        opacity: 1;
        transform: translateY(0);
    }

    32%{
        opacity: 0;
        transform: translateY(2em);
        content: "interfacce web";
    }

    100%{
        opacity: 0;
        transform: translateY(-2em);
    }
}